/*!
 * Start Bootstrap - Round About (https://startbootstrap.com/template-overviews/round-about)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-round-about/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
  	background-color:#fefdfb08 ;
	
	background-size: cover;
	background-repeat:no-repeat;
}

@media (min-width: 992px) {
  body {
    	padding-top: 56px;
    }
.img_team{
	   
	height: 175px;
    border-radius: 50%;
    width: 175px;
}
}
