.dash_card{
	width: 18rem;
	margin-top:120px;
	background-color:#BBB498;
	border-radius:5px; 
}
.dash_btn{
	margin:15px;
}
.dash_img{
	display: block;
	margin-left: auto;
    margin-right: auto;
    width: 100%;
    height:175px;
    padding:5px;
}