
#form_container
{
	padding:15px 15px;
	margin-top:100px;
	background: rgba(0,0,0,0.5);	
	color:#fff;
}
body
{
	background-color: #000;
	background-image: url("images/Untitled-3.png");
	background-size: 102% 140%;
	background-repeat:no-repeat;

}
.upload-btn-wrapper 
{
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.upload-btn-wrapper input[type=file] 
{
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

